body {
    font-family: Arial;
    font-size: 17px;
    line-height: 1.5;
    color: #757575;
}

a:link {
    color: #757575;
    text-decoration: underline;
}

a:hover {
    text-decoration-color: #fc4c02;
}

a:visited {
    color: #757575;
}

a:active {
    color: #757575;
}

#header {
    color: #595651;
    background: #595651;
    height: 51px;
}

#header .logo {
    width: 350px;
    margin-top: -12px;
    float: left;
}

#header h1 {
    color: #ffffff;
}

#footer {
    color: #d0cec9;
    background: #3d3935;
    height: 132px;
    font-size: 17px;
}

#footer-mail a {
    color: #d0cec9;
}

.footer-contact {
    margin-top: 42px;
    float: right;
}

#footer-brand {
    margin-top: 30px;
    margin-left: -12px;
}

h1, h2, h3 {
    color: #595651;
}

h2 {
    font-size: 23px;
    font-weight: bold;
    color: #757575;
}

h3 {
    font-size: 21px;
    font-weight: bold;
    color: #757575;
}

.btn-primary {
    background-color: #fc4c02;
    border-color:  #fc4c02;
}

.btn-primary:hover {
    background-color: #f04000;
    border-color:  #f04000;
}

#navigation {
    height: 51px;
}

.nav {
    height: 51px;
    margin-top: -12px;
}

.navbar {
    text-transform: uppercase;
    background: #f5f5f5;
}

#navigation {
    margin-bottom: 8px;
}

.navbar a {
    color: #595651 !important;
}

.tabbing.nav-pills > li > a {
    background: #ffffff;
    text-decoration: underline;
}

.tabbing.nav-pills > li > a.active {
    background: #ffffff;
    text-decoration: underline overline;
}

.tabbing.nav-pills > li > a:hover {
    text-decoration-color: #fc4c02;
}

button.collection, button.resource, button.digital_object, button.subject, button.accession, button.agent, button.classification {
    color: #fc4c02;
}

.record-type-badge {
    color: #fc4c02 !important;
}
