<div id="footer" class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-8">
       <div id="footer-brand">
         <img src="assets/FM_Wordmark-TwoLine_White.svg" width="150px">
       </div>
     </div>
     <div class="col-md-2">
       <div id="footer-mail" class="footer-contact">
         <a href="mailto:archives@frick.org">archives@frick.org</a>
       </div>
     </div>
     <div class="col-md-2">
       <div id="footer-phone" class="footer-contact">
         212-547-0648
       </div>
     </div>
  </div>
</div>
