<div id="footer" class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
       <div id="footer-brand">
         <img src="assets/FM_Wordmark-TwoLine_White.svg" width="150px">
       </div>
     </div>
  </div>
</div>
